@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.occupation{
  color: $color-primary;
  font-style: bold;
}
