@import '../../../styles/settings.scss';

.root {
  @include colListItem;
}
.colListItem{
  @include colListItem;
}

.linkAvatar{
  background-color: $color-primary;
}

.linkText {
  max-width: 100%;
  overflow-wrap: break-word;
}

.cell{
  display : flex;
  flex-direction : row;
  justify-content: flex-start;
  align-items : center;
  max-width: 100%;
  padding-right: 1em;
}

.avatar {
  background-color: '#2b64c7';
  margin-right: 12px;
}
